bionlp-st-core/target/
bionlp-st-web/target/
.project
.classpath
.settings/
bionlp-st-core/.classpath
bionlp-st-core/.project
bionlp-st-core/.settings/
bionlp-st-web/.classpath
bionlp-st-web/.project
bionlp-st-web/.settings/
bionlp-st-core/src/main/resources/org/bionlpst/data/*_test_WITH_ANSWERS.zip
test-files
